@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chonburi&family=Montserrat&display=swap");

body {
  margin-left: 100px;
  margin-right: 100px;
}

main {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 200px;
}

section {
  min-width: 300px;
  max-width: 400px;
}

h2 {
  font-family: Chonburi;
  font-size: 2em;
  margin-bottom: 35px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  padding: 40px;
  font-family: Chonburi;
}

p {
  font-family: montserrat;
  font-size: 1em;
}

#links a {
  font-family: chonburi;
  font-size: 1.2em;
  font-weight: bold;
}

#peach {
  width: 120px;
  height: 120px;
  background-color: #f9b4a4;
  border-radius: 50%;
  margin-bottom: 20px;
}

#blue {
  width: 120px;
  height: 120px;
  background-color: #a7bfef;
  border-radius: 50%;
  margin-bottom: 20px;
}

#gradient img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

ul {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

footer p {
  font-size: 0.75em;
  text-align: center;
}

#gitter {
  grid-column: 2 / span 2;
}

ul a:hover {
  text-decoration: underline;
}

footer {
  padding: 20px;
}
